*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
background-color: rgb(7, 7, 7);
padding: 15px;
gap: 40px;
color: white;
}
nav a{
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    text-decoration: none;
}
.logo{
    display: inline;
    background-color: white;
    color: black;
    font-size: 100px;
}
.right{
    margin-left:40%;
    display: inline;
    color: aliceblue;

}
.image{
   background-color: grey;

}
.image-container{
      display: flex;
      gap: 10px;
      

}
.image1{
    width: 50px;
    border-color: black;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    

    
 }